[submodule "rocq-sources/iris-example"]
	path = rocq-sources/iris-example
	url = https://github.com/epfl-systemf/sepviz-iris-tutorial.git
[submodule "rocq-sources/software-foundations-slf"]
	path = rocq-sources/software-foundations-slf
	url = https://github.com/epfl-systemf/sepviz-software-foundations-slf.git
[submodule "rocq-sources/cfml-examples"]
	path = rocq-sources/cfml-examples
        url = https://github.com/epfl-systemf/sepviz-cfml-examples.git
