[submodule "examples/cfml-examples"]
	path = examples/cfml-examples
	url = https://github.com/epfl-systemf/sepviz-cfml-examples.git
[submodule "examples/iris-tutorial"]
	path = examples/iris-tutorial
	url = https://github.com/epfl-systemf/sepviz-iris-tutorial.git
[submodule "examples/software-foundations-slf"]
	path = examples/software-foundations-slf
	url = https://github.com/epfl-systemf/sepviz-software-foundations-slf.git
[submodule "examples/software-foundations-vc"]
	path = examples/software-foundations-vc
	url = https://github.com/epfl-systemf/sepviz-software-foundations-vc.git
